<!DOCTYPE html>
<head>
    <title>Pokemon</title>
    <link rel="stylesheet" href="/css/style2.css">

</head>
<body>
    
    <div class="main">
        <form action="/" method="post" class="form">
            <input type="text" name="poki" placeholder="Pokemon Name"><br>
            <input type="submit">
        </form>
    </div>
   
    <script src="js/jquery-3.6.3.min.js">
    </script>
    <script src="js/script.js"></script>
</body>