h3{
    background-color: rgb(161, 161, 156);
    padding: 2% 3%;
    width: 70px;
    margin-left: 4%;
    float: left;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

body{
    background:url("/img/poki.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 850px;
}

.main{
    margin-top: 2%;
    text-align: center;
    padding: 5% 10%;
    padding-top: 0;
    background-color: rgb(255, 255, 255,0.8);
    width: 500px;
    height: 600px;
    margin-left: 45%;
    border-radius: 10%;
    border: 5px solid black;
}

img{
    width: 70%;
}

h1{
    font-weight: bold;
}

h2{
    text-align: center;
    padding: 2% 3%;
    font-weight: bold;
    background-color: aqua;
    border-radius: 5%;
}

h1,h3::first-letter{
    text-transform: uppercase;
}



.info{
    margin-left: 30%;
    margin-bottom: 8%;
}

.info2{
    margin-left: 5%;
}

table{
    text-align: center;
}

td{
    border: 1px solid black;

}

.btn{
    width: 150px;
    height: 150px;
    background: url("/img/pokiclose.png") , url("/img/pokiopen(2).png");
    background-size: 100% 100% ,0% 0%;
}

.btn:hover{
    background-size: 0% 0% , 100% 100%;
}


