

body {
    background: url("/img/main-bg.jpg");
    background-repeat: no-repeat;
    max-width: 850px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    max-width: 850px;
  }


  
  .form-signin {
    background: url("/img/guess.jpg");
    width: 100%;
    max-width: 800px;
    height: 500px;
    padding: 15% 5%;
    margin: 0 auto;
    border-radius: 10%;
    border: 1px solid black;
  }

  #pokemon{
    width: 60%;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
  }
  

@media (max-width:900px) {
    body{
      background: url("/img/720p.jpg");
    }
}

@media (min-width:2160px){
  body{
    background: url("/img/main.jpg");

  }
}